---
import Icon from 'heroicons-astro/Heroicon.astro'
import TechIcon from './TechIcon.astro'
const summaryItems = [
	{
		overline: 'Design',
		title: 'More than pretty pixels',
		description:
			'I seek to understand a problem, empathize with users, and collaborate with my team to conceptualize the best solution. My goal is to help stakeholders measure the impact of a problem and mitigate risks from assumptions and confirmation bias.',
		skills: [
			{ label: 'Personas', icon: 'user' },
			{ label: 'Journey Maps', icon: 'map' },
			{ label: 'Analytics', icon: 'chart-bar' },
			{ label: 'Wireframes', icon: 'pencil' },
			{ label: 'Figma', icon: 'fire' },
			{ label: 'Accessibility', icon: 'eye' },
			{ label: 'Usability', icon: 'thumb-up' },
			{ label: 'UAT', icon: 'check' }
		]
	},
	{
		overline: 'Engineering',
		title: 'Code makes it click',
		description:
			'I build polished product experiences using modern web technology and agile best practices. I love to prototype new solutions that enable users to explore real data and workflows, providing valuable feedback into my design process.',
		tech: [
			{ label: 'React', icon: 'react' },
			{ label: 'Vue', icon: 'vue' },
			{ label: 'TypeScript', icon: 'typescript' },
			{ label: 'Tailwind', icon: 'tailwind' },
			{ label: 'HTML', icon: 'html' },
			{ label: 'CSS', icon: 'css' },
			{ label: 'JavaScript', icon: 'javascript' },
			{ label: 'Node', icon: 'node' },
			{ label: 'Express', icon: 'express' },
			{ label: 'Postgres', icon: 'postgres' },
			{ label: 'Git', icon: 'git' },
			{ label: 'VS Code', icon: 'vscode' }
		]
	}
]
---

<section class="bg-gradient-to-br from-fill-muted to-fill">
	<div class="mx-auto my-16 flex max-w-3xl flex-col gap-y-16 px-4 md:px-0">
		{
			summaryItems.map((summary) => (
				<div class="relative z-10 rounded-3xl border border-fill bg-neutral-200 bg-opacity-25 p-6 text-center backdrop-blur-sm dark:bg-neutral-900 dark:bg-opacity-25">
					<h5 class="text-sm font-bold uppercase text-accent xs:text-base">{summary.overline}</h5>
					<h4 class="mb-4 font-sans text-2xl font-semibold xs:text-3xl">{summary.title}</h4>
					<p class="mb-12 text-fg-muted">{summary.description}</p>
					<div class="grid grid-cols-1 gap-12 xs:grid-cols-2 sm:grid-cols-4">
						{summary.skills &&
							summary.skills.map((s) => (
								<div class="flex items-center gap-x-2">
									<span class="block rounded-full bg-accent p-1">
										<Icon iconCode={s.icon} iconStyle="solid" customClasses="w-4 h-4 text-fill" />
									</span>
									<span class="text-sm xs:text-base">{s.label}</span>
								</div>
							))}

						{summary.tech &&
							summary.tech.map((t) => (
								<div>
									<TechIcon class="mx-auto h-10 w-10" technology={t.icon} />
									<p class="mt-2 text-center text-xs">{t.label}</p>
								</div>
							))}
					</div>
				</div>
			))
		}
	</div>
</section>
