---
import Icon from 'heroicons-astro/Heroicon.astro'
const summaryItems = [
	{
		overline: 'Design',
		title: 'More than pretty pixels',
		description:
			'I seek to understand a problem, empathize with users, and collaborate with my team to conceptualize the best solution. My goal is to help stakeholders measure the impact of a problem and mitigate risks from assumptions and confirmation bias.',
		skills: [
			{ label: 'Personas', icon: 'user' },
			{ label: 'Journey Maps', icon: 'map' },
			{ label: 'Analytics', icon: 'chart-bar' },
			{ label: 'Wireframes', icon: 'pencil' },
			{ label: 'Figma', icon: 'fire' },
			{ label: 'Accessibility', icon: 'eye' },
			{ label: 'Usability', icon: 'thumb-up' },
			{ label: 'UAT', icon: 'check' }
		]
	},
	{
		overline: 'Engineering',
		title: 'Code makes it click',
		description:
			'Staying agile, I work to bring meaningful interactions to life using real systems and data so we can get critical feedback from users. As the product evolves, I provide the necessary polish to release tested, delightful experiences.',
		// TODO: Replace these with an array of SVG elements?
		tech: ['React', 'Vue', 'TypeScript', 'Tailwind', 'HTML', 'CSS', 'JavaScript', 'Node', 'Express', 'Postgres', 'Git', 'VS Code']
	},
	{
		overline: 'Strategy',
		title: 'Life after merging',
		description:
			'Shipping code is only part of the job. I set other teams up for success by documenting features, onboarding customers, and establishing analytics and support integrations essential to monitoring a healthy product.'
	}
]
---

<section class="bg-gradient-to-br from-fill-muted to-fill">
	<div class="mx-auto my-16 flex max-w-3xl flex-col gap-y-16 px-4 md:px-0">
		{
			summaryItems.map((summary) => (
				<div class="rounded-3xl border border-fill bg-neutral-200 bg-opacity-25 p-6 text-center backdrop-blur-sm dark:bg-neutral-900 dark:bg-opacity-25">
					<h5 class="text-sm font-bold uppercase text-accent xs:text-base">{summary.overline}</h5>
					<h4 class="mb-2 font-sans text-2xl font-semibold xs:text-3xl">{summary.title}</h4>
					<p class="mb-4 text-fg-muted">{summary.description}</p>
					<div class="grid grid-cols-1 gap-4 xs:grid-cols-2 sm:grid-cols-4">
						{summary.skills &&
							summary.skills.map((s) => (
								<div class="flex items-center gap-x-2">
									<span class="block rounded-full bg-accent p-1">
										<Icon iconCode={s.icon} iconStyle="solid" customClasses="w-4 h-4 text-fill" />
									</span>
									<span class="text-sm xs:text-base">{s.label}</span>
								</div>
							))}

						{summary.tech &&
							summary.tech.map((t) => (
								<div class="">
									{/* TODO: create an astro component that returns the correct svg given the prop (like the Icons component) */}
									<span class="">{t}</span>
								</div>
							))}
					</div>
					{/* TODO: for strategy, add an animated element maybe a racecar that drives by as you scroll down */}
				</div>
			))
		}
	</div>
</section>
