---
import Icon from 'heroicons-astro/Heroicon.astro'
import TechIcon from './TechIcon.astro'
import AnimatedText from './AnimatedText.astro'
const designSummary = {
	overline: 'Design',
	title: 'More than pretty pixels',
	description:
		'I seek to understand a problem, empathize with users, and collaborate with my team to conceptualize the best solution. My goal is to help stakeholders measure the impact of a problem and mitigate risks from assumptions and confirmation bias.',
	skills: [
		{ label: 'Personas', icon: 'user' },
		{ label: 'Journey Maps', icon: 'map' },
		{ label: 'Analytics', icon: 'chart-bar' },
		{ label: 'Wireframes', icon: 'pencil' },
		{ label: 'Figma', icon: 'fire' },
		{ label: 'Accessibility', icon: 'eye' },
		{ label: 'Usability', icon: 'thumb-up' },
		{ label: 'UAT', icon: 'check' }
	]
}
const engineeringSummary = {
	overline: 'Engineering',
	title: 'Code makes it click',
	description:
		'I build polished product experiences using modern web technology and agile best practices. I love to prototype new solutions that enable users to explore real data and workflows, providing valuable feedback into my design process.',
	tech: [
		{ label: 'React', icon: 'react' },
		{ label: 'Vue', icon: 'vue' },
		{ label: 'TypeScript', icon: 'typescript' },
		{ label: 'Tailwind', icon: 'tailwind' },
		{ label: 'HTML', icon: 'html' },
		{ label: 'CSS', icon: 'css' },
		{ label: 'JavaScript', icon: 'javascript' },
		{ label: 'Node', icon: 'node' },
		{ label: 'Express', icon: 'express' },
		{ label: 'Postgres', icon: 'postgres' },
		{ label: 'Git', icon: 'git' },
		{ label: 'VS Code', icon: 'vscode' }
	]
}
---

<section id="skills" class="relative bg-gradient-to-br from-fill-muted to-fill">
	<div class="dot-grid absolute bottom-3/4 left-0 top-0 z-0 w-1/4 opacity-50 dark:opacity-30"></div>
	<!-- Intro text -->
	<div class="will-animate fade-in mx-auto max-w-6xl px-6 md:px-0">
		<AnimatedText text="Skills" class="mx-auto mb-4 fill-fg-muted stroke-fg-muted" />
		<p class="mx-auto max-w-prose text-center">
			My wide-ranging skills include research, design, planning, and engineering. I am hyper organized and a proven leader for both projects and people.
		</p>
	</div>
	<!-- Design summary -->
	<div class="relative px-4 pb-32 pt-16 md:px-0">
		<div
			class="will-animate fade-in relative z-10 mx-auto max-w-3xl rounded-3xl bg-neutral-50 bg-opacity-50 p-6 text-center opacity-0 shadow-2xl backdrop-blur-md dark:border dark:border-neutral-700 dark:bg-neutral-900 dark:bg-opacity-50 dark:shadow-none"
		>
			<h5 class="text-sm font-bold uppercase text-accent-muted dark:text-accent xs:text-base">{designSummary.overline}</h5>
			<h4 class="mb-4 font-sans text-2xl font-semibold xs:text-3xl">{designSummary.title}</h4>
			<p class="mb-12 text-fg-muted">{designSummary.description}</p>
			<div class="grid grid-cols-2 gap-6 xs:grid-cols-3 sm:grid-cols-4 sm:gap-12">
				{
					designSummary.skills.map((s) => (
						<div class="flex items-center gap-x-2">
							<span class="block rounded-full bg-accent p-1">
								<Icon iconCode={s.icon} iconStyle="solid" customClasses="w-4 h-4 text-fill" />
							</span>
							<span class="whitespace-nowrap text-left text-sm xs:text-base">{s.label}</span>
						</div>
					))
				}
			</div>
		</div>
	</div>

	<!-- Engineering summary -->
	<div class="relative bg-fg px-4 pb-16 md:px-0">
		<div id="slash"></div>
		<div class="dot-grid absolute bottom-0 right-0 top-3/4 z-0 w-1/4 opacity-50 invert dark:opacity-30"></div>
		<div class="relative -translate-y-16 transform">
			<div
				class="will-animate fade-in relative z-10 mx-auto max-w-3xl rounded-3xl border border-fg-muted bg-neutral-900 bg-opacity-50 p-6 text-center text-fill opacity-0 shadow-none backdrop-blur-md dark:border-none dark:bg-neutral-50 dark:bg-opacity-50 dark:shadow-2xl"
			>
				<h5 class="text-sm font-bold uppercase text-accent dark:text-accent-muted xs:text-base">{engineeringSummary.overline}</h5>
				<h4 class="mb-4 font-sans text-2xl font-semibold xs:text-3xl">{engineeringSummary.title}</h4>
				<p class="mb-12 text-fill-muted">{engineeringSummary.description}</p>
				<div class="grid grid-cols-3 gap-6 xs:grid-cols-4 sm:gap-12 md:grid-cols-6">
					{
						engineeringSummary.tech.map((t) => (
							<div>
								<TechIcon class="mx-auto h-10 w-10" technology={t.icon} />
								<p class="mt-2 text-center text-xs">{t.label}</p>
							</div>
						))
					}
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	#slash {
		--height: 12rem;
		position: absolute;
		top: calc(var(--height) * -1);
		left: 0;
		right: 0;
		height: 0;
		border-bottom: var(--height) solid var(--text-default);
		border-left: 100vw solid transparent;
		z-index: 0;
	}
</style>
