---
import { Image } from 'astro:assets'
import Chip from '../components/Chip.astro'
import ImageGallery from '../components/ImageGallery.astro'
import Layout from './Layout.astro'

export type CaseStudy = {
	assets: string
	projectDate: string
	roles: string[]
	technology: string[]
	title: string
}

const { frontmatter } = Astro.props
const {
	assets,
    projectDate,
    roles,
    technology,
    title,
} = frontmatter

import type { ImageMetadata } from 'astro';
const covers = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**/cover.webp')
const imgPath = `/src/assets/${assets}/cover.webp`

---
<Layout title={title}>
	<div class="relative min-h-96 z-0 overflow-hidden">
		<Image class="absolute inset-0 block object-cover h-full w-full" src={covers[imgPath]()} alt={'altText'} />
		<div class="absolute inset-0 flex flex-col items-center justify-center bg-neutral-100 dark:bg-neutral-900 bg-opacity-75 dark:bg-opacity-75">
			<h1 class="text-3xl md:text-4xl font-bold">{title}</h1>
			<p class="header-label">{projectDate}</p>
		</div>
	</div>
	<div class="-mx-6 xs:mx-auto max-w-prose p-6 relative z-10 -my-24 mb-6">
		<main class="rounded-xl bg-fill p-6 shadow-lg">
			<div class="mb-6 flex flex-col gap-y-4">
				<div>
					<p class="header-label">Roles:</p>
					<div class="flex gap-2 flex-wrap">
						{roles.map((r: string) => {
							return <Chip>{r}</Chip>
						})}
					</div>
				</div>
				<div>
					<p class="header-label">Technology:</p>
					<div class="flex gap-2 flex-wrap">
						{technology.map((t: string) => {
							return <Chip>{t}</Chip>
						})}
					</div>
				</div>
			</div>
			<slot />
			<ImageGallery path={assets} />
		</main>
	</div>
</Layout>

<style>
	.header-label {
		@apply font-semibold text-sm mb-2 text-fg-muted;
	}
</style>

<style is:global>
	main > h2 {
		@apply text-xl font-bold mb-3 text-fg-muted;
	}
	main > p {
		@apply font-light leading-relaxed mb-6;
	}
</style>
